{% include "header.html" %}

<!-- breadcumb -->
<section class="breadcumb" aria-label="breadcumb" style="background-image: url('https://images.unsplash.com/photo-1474738517441-e90513ba3095?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80');">
  <div class="container-fluid">
   <div class="row">
    <div class="col-12">
      <div class="main">
        <div class="bread">
          <div class="img-icon">
             <img src="../static/img/breadcumb-icon.png" alt="#">
          </div>
          <div class="bread-title">Vacancies</div>
          <div class="bread-subtitle">
            <a href="{{url_for('main_page')}}">Home</a> 
              <span class="spacebread"></span> 
            <span>Vacancies</span>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</section>
<!-- breadcumb end -->

<!-- job section -->

<div id="jobs">
    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #1</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>

    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #2</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>

    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #3</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>

    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #4</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>

    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #5</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>

    <div>
      <img class="" alt="job-vacancy" src="../static/img/job-vacancy.png">
      <h2 class="job-location">Location</h2>
      <h2>Job Title #6</h2>
      <a target="_blank" class="abtn" href="#"><i class="far fa-file-alt"></i> Apply</a> 
    </div>
</div>

<!-- job section end-->



{% include "footer.html" %}