<!-- section guest -->
<section aria-label="section" class="s-img no-overlay" style="background-image: url('../static/img/bgsection.jpg');">
    <div class="container-fluid">
      <div class="row p-3-vh">
   
       <div class="col-12 text-center">
         <div class="main-content">
           <div class="heading">
             <div class="title">
               Our Guestbook
             </div>
           </div>
         </div>
       </div>
   
       <div class="col-12">
         <div id="owl-testimony" class="owl-carousel owl-theme">
   
           <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/1.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
           <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/2.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
           <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/3.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
            <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/1.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
           <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/2.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
           <div class='item'>
             <div class="content-testy">
               <div class="testy-text">
                 <span>Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                 </span>
               </div>
               <div class="user">
                 <div class="img">
                   <img src="../static/img/testimony/3.jpg" alt="imgtesty">
                 </div>
                 <div class="name">
                   Emer Mbiemer
                 </div>
                 <div class="title">
                   Customer
                 </div>
               </div>
             </div>
           </div>
   
         </div>
       </div>
   
      </div>
    </div>
   </section>
   <!-- section guest -->