{% include "header.html" %}

<!-- revolution slider -->
<section class="no-top no-bottom" aria-label="section-slider">
<div class="fullwidthbanner-container">
<div id="revolution-slider-full">
              <ul>

                  <li data-transition="fade" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                      
                      <img src="../static/images-slider/6.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-bgpositionend="center center"/>
                      <div class="tp-caption slide-big-heading sft"
                          data-x="center"
                          data-y="270"
                          data-speed="800"
                          data-start="400"
                          data-easing="easeInOutExpo"
                          data-endspeed="450">
                           We Serve Quality Food
                      </div>

                      <div class="tp-caption slide-sub-heading sft"
                          data-x="center"
                          data-y="350"
                          data-speed="1000"
                data-start="800"
                data-easing="easeOutExpo"
                          data-endspeed="400">
                          Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                      </div>

                      <div class="tp-caption btn-slider sfb"
                          data-x="center"
                          data-y="450"
                          data-speed="400"
                          data-start="800"
                          data-easing="easeInOutExpo">
                          <span class="shine"></span><a href="#" >VIEW MORE</a>
                      </div>

                  </li>
                  
                  <li data-transition="fade" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                      
                      <img src="../static/images-slider/2.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-bgpositionend="center center"/>
                      <div class="tp-caption slide-big-heading sft"
                          data-x="center"
                          data-y="270"
                          data-speed="800"
                          data-start="400"
                          data-easing="easeInOutExpo"
                          data-endspeed="450">
                          Hot And Ready To Serve
                      </div>

                      <div class="tp-caption slide-sub-heading sft"
                          data-x="center"
                          data-y="350"
                          data-speed="1000"
                data-start="800"
                data-easing="easeOutExpo"
                          data-endspeed="400">
                          Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                      </div>

                      <div class="tp-caption btn-slider sfb"
                          data-x="center"
                          data-y="450"
                          data-speed="400"
                          data-start="800"
                          data-easing="easeInOutExpo">
                          <span class="shine"></span><a href="#" >VIEW MORE</a>
                      </div>

                  </li>

                  <li data-transition="fade" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                      
                      <img src="../static/images-slider/3.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-bgpositionend="center center"/>
                      <div class="tp-caption slide-big-heading sft"
                          data-x="center"
                          data-y="270"
                          data-speed="800"
                          data-start="400"
                          data-easing="easeInOutExpo"
                          data-endspeed="450">
                           The Best Tasting Experience!
                      </div>

                      <div class="tp-caption slide-sub-heading sft"
                          data-x="center"
                          data-y="350"
                          data-speed="1000"
                data-start="800"
                data-easing="easeOutExpo"
                          data-endspeed="400">
                          Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                      </div>

                      <div class="tp-caption btn-slider sfb"
                          data-x="center"
                          data-y="450"
                          data-speed="400"
                          data-start="800"
                          data-easing="easeInOutExpo">
                          <span class="shine"></span><a href="#" >VIEW MORE</a>
                      </div>

                  </li>
                 
              </ul>
              <div class="tp-bannertimer hide"></div>
</div>
</div>
</section>
<!-- revolution slider end -->

<!-- section menu -->
<section aria-label="section" class="s-img s-bot" style="background-image: url('../static/img/bgfoodicon.png');">
 <div class="container-fluid">
   <div class="row p-3-vh">

    <div class="col-12 text-center">
      <div class="main-content">
        <div class="heading">
          <div class="title l-1">
            Check Our Weekly Specials
          </div>
        </div>
      </div>
    </div>

    <div class="col-10 m-auto">
      <div class="row">

        <div class="col-md-6">
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/1.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Roasted Steak
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/2.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Smoke Fish Steak
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/3.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Spinach Bread
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/4.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Roasted Beef
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/5.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Chicken Bread
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
          <div class="content-menu hor">
            <div class="img">
              <img src="../static/img/menu/6.png" alt="menu">
            </div>
            <ul class="food-list">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Sirloin Steak
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    </div>
  </div>
</section>
<!-- section menu -->

<!-- section menu -->
<section aria-label="section" class="s-bot s-top">
 <div class="container-fluid">
   <div class="row p-3-vh">
    <div class="col-12 text-center">
      <div class="main-content">
        <div class="heading">
          <div class="title l-1">
            Discover Our menu
          </div>
        </div>
        <div class="desc m-auto">
          Pellentesque vestibulum leo sed tempus congue. Sed sed vehicula ligula. Praesent finibus velit non lacinia malesuada. 
          Vivamus quam tellus, sollicitudin id nulla in, accumsan tempor dui. Nullam sed varius tortor. Aliquam erat volutpat. Vivamus eleifend finibus commodo. 
        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <ul id="filter-porto">
        <li class="filt-projects-w selected" data-project=".lunch">Lunch
        </li>
        <li class="filt-projects-w" data-project=".dinner">Dinner
        </li>
        <li class="filt-projects-w" data-project=".dessert">Dessert
        </li>
        <li class="filt-projects-w" data-project=".main">Main
        </li>
      </ul>
    </div>

    <div class="col-12 px-0 w-gallery-container">
      <div class="row">
        <div class="col-md-4 w-gallery main lunch dessert">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/1.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Roasted Steak
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Chicken Breast
                  </div>
                  <div class="subheading">
                    Paupitte of chicken, chesse, beans with rosemary
                  </div>
                </div>
                <div class="rightcontent">
                  $26.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Beef Ribs
                  </div>
                  <div class="subheading">
                    Beef ribs, ginger, garlic, honey with canola oil
                  </div>
                </div>
                <div class="rightcontent">
                  $24.81
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Sea Trout
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $21.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Satay Beef
                  </div>
                  <div class="subheading">
                    Beef Grill Ketchup Sauce with Bombay
                  </div>
                </div>
                <div class="rightcontent">
                  $18.93
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cordon Bleu
                  </div>
                  <div class="subheading">
                    Chicken breast, ham, pepper, with swiss chesse
                  </div>
                </div>
                <div class="rightcontent">
                  $21.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery main lunch dinner">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/2.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Italian Salad
                  </div>
                  <div class="subheading">
                    Tomato, paprika, canola oil with Bombay
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Tobacos Quila
                  </div>
                  <div class="subheading">
                    Chicken breast, ham, pepper, with swiss chesse
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruit Salad
                  </div>
                  <div class="subheading">
                    Vanilla, milk, garpe, apple, honey, melon, kiwi
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruit Jus
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Breakfast Time
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Egg Chicken Roll
                  </div>
                  <div class="subheading">
                    Chicken fillet,, eggs, chesse, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery lunch dinner dessert">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/3.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Rainbow Cake
                  </div>
                  <div class="subheading">
                    Rainbow cake with honey
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Black Pancake
                  </div>
                  <div class="subheading">
                    Milk, egg, strawberries, black oil, with mapple syrup
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Coffee Time
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cocholate Cherry Cake
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Butter Cookies
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruits Milk
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery main d-none">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/4.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Rainbow Cake
                  </div>
                  <div class="subheading">
                    Rainbow cake with honey
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Black Pancake
                  </div>
                  <div class="subheading">
                    Milk, egg, strawberries, black oil, with mapple syrup
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Coffee Time
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cocholate Cherry Cake
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Butter Cookies
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruits Milk
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

   </div>
 </div> 
</section>
<!-- section menu end -->


<!-- section guest -->
<section aria-label="section" class="s-img s-bot" style="background-image: url('../static/img/bgfoodicon.png');">
 <div class="container-fluid">
   <div class="row p-3-vh">

    <div class="col-12 text-center">
      <div class="main-content">
        <div class="heading">
          <div class="title l-1">
            Our Talented Chefs
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div id="owl-team" class="owl-carousel owl-theme">

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/1.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">South Chef</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/2.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">North Chef</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/3.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">CEO Emri Restorantit</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/4.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">West Chef</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/1.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">South Chef</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/2.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">North Chef</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/3.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">CEO Emri Restorantit</div>
              </div>
            </div>
          </div>
        </a>

        <a class="item" href="#">
          <div class="listteam">
            <div class="bgimg">
              <img src="../static/img/team/4.jpg" alt="team">
            </div>
            <div class="detail">
              <div class="listdetail">
                <div class="name">Emer Mbiemer</div>
                <div class="jobtitle">West Chef</div>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>



   </div>
 </div>
</section>
<!-- section guest -->


{% include "section-blog.html" %}
{% include "footer.html" %}