{% include "header.html" %}

<!-- revolution slider -->
<section class="no-top no-bottom" aria-label="section-slider">
<div class="fullwidthbanner-container">
<div id="revolution-slider-full">
              <ul>

                  <li data-transition="fade" data-slotamount="0" data-masterspeed="0" data-delay="0">
                      
                      <img src="../static/images-slider/77.jfif" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-bgpositionend="center center"/>
                      <div class="tp-caption slide-big-heading sft"
                          data-x="center"
                          data-y="270"
                          data-speed="800"
                          data-start="400"
                          data-easing="easeInOutExpo"
                          data-endspeed="450">
                           Welcome to Restaurant Name
                      </div>

                      <div class="tp-caption slide-sub-heading sft"
                          data-x="center"
                          data-y="350"
                          data-speed="1000"
                data-start="800"
                data-easing="easeOutExpo"
                          data-endspeed="400">
                          Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
                      </div>

                      <div class="tp-caption btn-slider sfb"
                          data-x="center"
                          data-y="450"
                          data-speed="400"
                          data-start="800"
                          data-easing="easeInOutExpo">
                          <span class="shine"></span><a href="#" >VIEW MORE</a>
                      </div>
                      
                  </li>
              </ul>
              
</div>
</div>
</section>
<!-- revolution slider end -->

<!-- section about -->
<section aria-label="section" class="content-col section">
  <div class="container-fluid">
    <div class="row p-3-vh">
     <div class="col-md-6 p-5 centered">
       <div class="content-col pb-md-0">
         <div class="subheading">Your healthy pleasure</div>
         <div class="heading line">
          Your healthy pleasure
         </div>
         <div class="desc">
          Aliquam eget risus condimentum magna lacinia sollicitudin id at justo. Donec ultrices augue at neque molestie tempor. Morbi non magna hendrerit, imperdiet lectus ac, efficitur ante. Nam vitae nisl quis sapien ornare fringilla. 
          Maecenas ac rutrum felis. Quisque in finibus urna. Mauris quis auctor mi, ac tempus nisl. Duis sodales leo lorem, sed egestas nibh tincidunt vel. 
         </div>
         <a class="btn-content" href="#">
           <span class="shine"></span>
           CONTACT
         </a>
       </div>
     </div>
     <div class="col-md-6">
       <div class="content-col pb-0">
         <div class="img section">
           <img src="../static/img/about-img.jfif" alt="#">
         </div>
       </div>
     </div>
     </div>
   </div>
 </section>
 <!-- section about end -->


{% include "footer.html" %}