{% include "header.html" %}

<!-- breadcumb -->
<section class="breadcumb" aria-label="breadcumb" style="background-image: url('../static/img/breadcumb.jpg');">
  <div class="container-fluid">
   <div class="row">
    <div class="col-12">
      <div class="main">
        <div class="bread">
          <div class="img-icon">
             <img src="../static/img/breadcumb-icon.png" alt="#">
          </div>
          <div class="bread-title">MENU</div>
          <div class="bread-subtitle">
            <a href="{{url_for('main_page')}}">Home</a> 
              <span class="spacebread"></span> 
            <span>Menu</span>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</section>
<!-- breadcumb end -->

<!-- section menu -->
<section aria-label="section" class="s-bot s-top">
 <div class="container-fluid">
   <div class="row p-3-vh">
    <div class="col-12 text-center">
      <div class="main-content">
        <div class="heading">
          <div class="title l-1">
            Discover Our menu
          </div>
        </div>
        <div class="desc m-auto">
          Praesent finibus velit non lacinia malesuada. Vivamus quam tellus, sollicitudin id nulla in, accumsan tempor dui. Nullam sed varius tortor. 
        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <ul id="filter-porto">
        <li class="filt-projects-w selected" data-project=".lunch">Lunch
        </li>
        <li class="filt-projects-w" data-project=".dinner">Dinner
        </li>
        <li class="filt-projects-w" data-project=".dessert">Dessert
        </li>
        <li class="filt-projects-w" data-project=".main">Main
        </li>
      </ul>
    </div>

    <div class="col-12 px-0 w-gallery-container">
      <div class="row">
        <div class="col-md-4 w-gallery main lunch dessert">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/1.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Roasted Steak
                  </div>
                  <div class="subheading">
                    Beef Grill Honey Sauce with Paprica
                  </div>
                </div>
                <div class="rightcontent">
                  $36.64
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Chicken Breast
                  </div>
                  <div class="subheading">
                    Paupitte of chicken, chesse, beans with rosemary
                  </div>
                </div>
                <div class="rightcontent">
                  $26.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Beef Ribs
                  </div>
                  <div class="subheading">
                    Beef ribs, ginger, garlic, honey with canola oil
                  </div>
                </div>
                <div class="rightcontent">
                  $24.81
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Sea Trout
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $21.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Satay Beef
                  </div>
                  <div class="subheading">
                    Beef Grill Ketchup Sauce with Bombay
                  </div>
                </div>
                <div class="rightcontent">
                  $18.93
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cordon Bleu
                  </div>
                  <div class="subheading">
                    Chicken breast, ham, pepper, with swiss chesse
                  </div>
                </div>
                <div class="rightcontent">
                  $21.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery main lunch dinner">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/2.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Italian Salad
                  </div>
                  <div class="subheading">
                    Tomato, paprika, canola oil with Bombay
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Tobacos Quila
                  </div>
                  <div class="subheading">
                    Chicken breast, ham, pepper, with swiss chesse
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruit Salad
                  </div>
                  <div class="subheading">
                    Vanilla, milk, garpe, apple, honey, melon, kiwi
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruit Jus
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Breakfast Time
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Egg Chicken Roll
                  </div>
                  <div class="subheading">
                    Chicken fillet,, eggs, chesse, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery lunch dinner dessert">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/3.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Rainbow Cake
                  </div>
                  <div class="subheading">
                    Rainbow cake with honey
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Black Pancake
                  </div>
                  <div class="subheading">
                    Milk, egg, strawberries, black oil, with mapple syrup
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Coffee Time
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cocholate Cherry Cake
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Butter Cookies
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruits Milk
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 w-gallery main d-none">
          <div class="content-menu">
            <div class="img">
              <img src="../static/img/menu/4.png" alt="menu">
            </div>
            <ul class="food-list autoheight-1">
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Rainbow Cake
                  </div>
                  <div class="subheading">
                    Rainbow cake with honey
                  </div>
                </div>
                <div class="rightcontent">
                  $31.24
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Black Pancake
                  </div>
                  <div class="subheading">
                    Milk, egg, strawberries, black oil, with mapple syrup
                  </div>
                </div>
                <div class="rightcontent">
                  $23.87
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Coffee Time
                  </div>
                  <div class="subheading">
                    Roast trout, asparagus, garlic, watercress & royals
                  </div>
                </div>
                <div class="rightcontent">
                  $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Cocholate Cherry Cake
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.85
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                   Butter Cookies
                  </div>
                  <div class="subheading">
                   Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                   $12.89
                </div>
              </li>
              <li>
                <div class="leftcontent">
                  <div class="title">
                    Fruits Milk
                  </div>
                  <div class="subheading">
                    Vanilla, milk, dark chocolate, cerries, eggs, & butter
                  </div>
                </div>
                <div class="rightcontent">
                  $12.15
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

   </div>
 </div> 
</section>
<!-- section menu end -->

{% include "guestbook.html" %}

{% include "section-blog.html" %}

  
{% include "footer.html" %}