<!-- section blog -->
<section aria-label="section">
    <div class="container-fluid">
      <div class="row p-3-vh">
   
         <div class="col-12 text-center">
           <div class="main-content">
             <div class="heading">
               <div class="title l-1">
                 Our News & Events
               </div>
             </div>
             <div class="desc m-auto">
               Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
             </div>
           </div>
         </div>
   
         <div class="col-md-4 mt-5">
         <div class="content-col">
           <div class="img">
             <img src="../static/img/blog/1.jpg" alt="#">
             <div class="date">
               Jan 14, 2021
             </div>
           </div>
           <div class="heading">
             Event Name #1
           </div>
           <div class="desc autoheight">
             Nulla eu ullamcorper dui, sit amet auctor ex. Nulla tristique condimentum tellus eu dapibus. Nunc risus odio, luctus ut ex ut, gravida tempus nibh.
           </div>
         </div>
       </div>
   
       <div class="col-md-4 mt-5">
         <div class="content-col">
           <div class="img">
             <img src="../static/img/blog/2.jpg" alt="#">
             <div class="date">
               Feb 04, 2021
             </div>
           </div>
           <div class="heading">
             Event Name #2
           </div>
           <div class="desc autoheight">
             Pellentesque vestibulum leo sed tempus congue. Sed sed vehicula ligula. Praesent finibus velit non lacinia malesuada. Vivamus quam tellus, sollicitudin id nulla in, accumsan tempor dui. Nullam sed varius tortor.
           </div>
         </div>
       </div>
   
       <div class="col-md-4 mt-5">
         <div class="content-col">
           <div class="img">
             <img src="../static/img/blog/4.jpg" alt="#">
             <div class="date">
               March 10, 2021
             </div>
           </div>
           <div class="heading">
             Event Name #3
           </div>
           <div class="desc autoheight">
             Nam vestibulum aliquet magna, id facilisis lorem hendrerit nec. Mauris pellentesque gravida aliquam. Phasellus arcu dui, ultricies ac tempor sed, gravida sed lorem.
           </div>
         </div>
       </div>
   
   
   
       </div>
     </div>
     </section>
     <!-- section blog -->
   